{% extends 'base.html' %} {% block content %}
<h2>About page</h2>
<p class="lead">
  The formation of the group grew out of a meeting Gandalf had with Thorin in
  Bree which kindled Thorin's interest in recapturing his long lost family
  inheritance. (Thorin's grandfather had been the King under the Mountain when
  Smaug came and took it.) Remembering that he had once known an adventurous
  Hobbit on his travels in the Shire, Gandalf decided to add Bilbo to their
  company because he knew that stealth and cunning were preferable to force.
  Gandalf also believed that someone like Bilbo could keep the sometimes
  prideful and stubborn Dwarves from rash action. The superstitious Dwarves also
  considered thirteen to be an unlucky number, and as Gandalf had planned to
  leave on other business, welcomed a fourteenth to fill into their party.
</p>

<div class="row featurette">
  <div class="col-md-7">
    <h3>Thorin Oakenshield</h3>
    <p class="lead">
      Thorin II Oakenshield is the Leader of the Company, the King of Durin's
      Folk and former Prince of Erebor, has many of the speaking roles and is
      known for combat achievements, killing Orcs on countless occasions. He
      often acts in a confrontational manner, but is a great leader among the
      Dwarves.
    </p>
  </div>
  <div class="col-md-5">
    <img
      src="https://static.wikia.nocookie.net/lotr/images/b/b2/Thorin_by_Venlian.png"
      alt="Thorin Oakenshield"
      class="w-100"
    />
  </div>

  <div class="row featurette">
    <div class="col-md-5">
      <img
        src="https://static.wikia.nocookie.net/lotr/images/8/8e/F%C3%ADliAndK%C3%ADliByMontanini.jpg"
        alt=""
        class="w-100"
      />
    </div>

    <div class="col-md-7">
      <h3>Fíli and Kíli</h3>
      <p class="lead">
        Fíli and Kíli were Dwarvern brothers and were also the youngest of the
        thirteen Dwarves who set out with Thorin Oakenshield's company, along
        with Gandalf and Bilbo Baggins, to reclaim the Lonely Mountain from the
        dragon Smaug. Fíli and Kíli were the two most active Dwarves of Thorin's
        company, and, apart from Balin and possibly Bombur, they appear more
        frequently as "individual" characters in J.R.R. Tolkien's The Hobbit
        than the rest of Thorin's companions, who are most often named only in
        group-reference.
      </p>
    </div>
  </div>
</div>
{% endblock %}
